[workspace]
members = [
    "parser",
    "parser/visitable-derive",
    "parser/generator",
    "checker",
    "checker/binary-serialize-derive",
    # "lsp/server",
    # "checker/specification"
]

[package]
name = "ezno"
description = "A JavaScript checker and compiler. For use as a library or cli"
authors = ["Ben <kaleidawave@gmail.com>"]
version = "0.0.10"
edition = "2021"
license = "MIT"
homepage = "https://kaleidawave.github.io/posts/introducing-ezno/"
repository = "https://github.com/kaleidawave/ezno"
default-run = "ezno"
keywords = ["javascript", "typescript", "type-checker"]
categories = ["compilers"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "ezno_lib"
path = "src/lib.rs"
# cdylib is for WASM
crate-type = ["cdylib", "rlib"]

[[bin]]
name = "ezno"
path = "src/main.rs"

[dependencies]
checker = { path = "./checker", version = "0.0.7", package = "ezno-checker", features = [
    "ezno-parser",
] }
# parser = { path = "./parser", version = "0.0.3", package = "ezno-parser" }
# ezno-web-framework = { path = "./plugins/web" }

console = "0.14.1"
codespan-reporting = "0.11.1"
argh = "0.1.6"
base64 = "0.13.0"
enum-variants-strings = "0.2.2"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.107"

[dependencies.parser]
path = "./parser"
version = "0.0.4"
features = ["extras"]
package = "ezno-parser"

[target.'cfg(target_family = "wasm")'.dependencies]
wasm-bindgen = "=0.2.87"
serde-wasm-bindgen = "0.5.0"
console_error_panic_hook = "0.1.7"
js-sys = "0.3"

[target.'cfg(not(target_family = "wasm"))'.dependencies]
multiline-term-input = "0.1.0"
notify = "4.0.17"
