name: Performance and size

on:
  push:
    branches: [main]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  run-benchmarks:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - uses: brndnmtthws/rust-action-cargo-binstall@v1
        with:
          packages: hyperfine

      - name: Build Ezno
        run: cargo build --release
        env:
          CARGO_PROFILE_RELEASE_DEBUG: true

      - name: Run checker performance
        shell: bash
        continue-on-error: true
        run: |
          # Generate a file which contains everything that Ezno currently implements  
          cargo run -p ezno-parser --example code_blocks_to_script ./checker/specification/specification.md --comment-headers --out ./demo.tsx

          echo "### Checking
          \`\`\`shell
          $(hyperfine -i './target/release/ezno check demo.tsx')
          \`\`\`" >> $GITHUB_STEP_SUMMARY

          echo "<details>
          <summary>Input</summary>

          > Code generated from specification.md. this is not meant to accurately represent a program but instead give an idea for how it scales across all the type checking features
          \`\`\`tsx
          $(cat ./demo.tsx)
          \`\`\`
          </details>
          " >> $GITHUB_STEP_SUMMARY

          echo "::info::Wrote code to summary"
          
          echo "<details>
          <summary>Diagnostics</summary>
          
          \`\`\`
          $(./target/release/ezno check demo.tsx --timings --max-diagnostics all 2>&1)
          \`\`\`
          </details>
          " >> $GITHUB_STEP_SUMMARY

      - name: Run checker performance w/staging
        shell: bash
        if: github.event_name == 'pull_request'
        continue-on-error: true
        run: |
          ::group::Running all
          cat ./checker/specification/specification.md ./checker/specification/staging.md > all.md
          cargo run -p ezno-parser --example code_blocks_to_script all.md --comment-headers --out ./demo.tsx
          ./target/release/ezno check demo.tsx --timings --max-diagnostics all 2>&1
          ::endgroup::

      - name: Run parser, minfier/stringer performance
        shell: bash
        run: |
          strings=(
            "https://esm.sh/v128/react-dom@18.2.0/es2022/react-dom.mjs"
          )
          # Currently broken "https://esm.sh/v135/typescript@5.3.3/es2022/typescript.mjs"

          for url in "${strings[@]}"; do
              curl -sS $url > input.js
              echo "--- debug: $url ---"
              cargo run -p ezno-parser --example parse input.js --timings --render-timings
              echo "--- release: $url ---"
              cargo run -p ezno-parser --release --example parse input.js --timings --render-timings

              hyperfine "./target/debug/examples/parse input.js" "./target/release/examples/parse input.js"
          done
